* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background: #f8f0fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.header {
  width: 100%;
  max-width: 900px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 36px;
  color: #211a1d;
  margin-bottom: 8px;
}

.header p {
  font-size: 16px;
  color: #211a1d;
}

.calculate-card {
  background: white;
  padding: 30px;
  border-radius: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1 fr 80px;
  gap: 15px;
  color: #211a1d;
  font-weight: 600;
  margin-bottom: 10px;
}

.subject-row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 80px;
    gap: 15px;
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    padding: 12px, 14px;
    border: 1px solid #211A1D;
    font-size: 14px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #8CADA7;
}

.delete-btn {
    border: none;

    background: #fee2e2;
    color: #dc2626;

    border-radius: 8px;

    font-size: 22px;

    cursor: pointer;
}

.delete-btn:hover {
    background: #fecaca;
}

/* =========================
   ADD SUBJECT
========================= */

.add-btn {
    border: none;
    background: transparent;

    color: #6366f1;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    margin-top: 10px;
}

/* =========================
   CALCULATE BUTTON
========================= */

.calculate-btn {
    width: 100%;

    margin-top: 25px;

    padding: 14px;

    border: none;
    border-radius: 10px;

    background: #6366f1;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.calculate-btn:hover {
    background: #4f46e5;
}

/* =========================
   RESULT
========================= */

.result-card {
    background: #111827;

    color: white;

    margin-top: 25px;

    padding: 30px;

    border-radius: 16px;

    text-align: center;
}

.result-card p {
    color: #9ca3af;
    font-size: 15px;
}

.result-card h2 {
    font-size: 52px;
    margin: 10px 0;
}

.result-card span {
    color: #9ca3af;
    font-size: 14px;
}